.main-menu {
    margin-left: 5%;
}

@media screen and (max-width: 900px) {
    .main-menu {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .main-menu {
        display: none;
    }
}